@inherits LayoutComponentBase
@using ExpensesBook.Model
@inject ExpensesData Data

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @if (Data.IsDataUpdated)
    {
        <p style="color: red; display:block; text-align:center"><b>Есть несохраненные данные</b></p>
    }
    <div class="content px-4">
        @Body
    </div>
</div>