@page "/categories"

@using ExpensesBook.Model
@inject ExpensesData Data

<h3>Категории расходов</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (cat, canBeDeleted) in AllCategories)
        {
            <tr>
                <td>@cat.Sort)</td>
                <td>
                    @if (selectedCategory?.Id == cat.Id)
                    {
                    <div class="form-inline">
                        <EditForm Model="selectedCategory" OnValidSubmit="UpdateCategory">

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <InputText class="form-control" @bind-Value="selectedCategory.Name" />
                                
                            <button type="submit" class="btn btn-sm btn-success" title="Сохранить"><span class="oi oi-check" aria-hidden="true"></span></button>

                        </EditForm>
                        &nbsp;<button @onclick="DeleteCategory" class="btn btn-sm btn-danger" title="Удалить" disabled="@canBeDeleted"><span class="oi oi-trash" aria-hidden="true"></span></button>
                        &nbsp;<button @onclick="CancelEdit" class="btn btn-sm btn-secondary" title="Закрыть"><span class="oi oi-x" aria-hidden="true"></span></button>
                    </div>
                    }
                    else
                    {
                        @cat.Name
                        <button @onclick="@(_ => EditCategory(cat))" style="float:right" class="btn btn-sm btn-secondary" title="Редактировать"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <EditForm Model="newCategory" OnValidSubmit="AddNewCategory">

                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-inline">
                        <InputText class="form-control" @bind-Value="newCategory.Name" />
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-success">Добавить</button>
                    </div>
                </EditForm>
            </td>
        </tr>
    </tfoot>
</table>

@code {   

    private ExpensesCategoryEdit newCategory = new ExpensesCategoryEdit();
    private ExpensesCategoryEdit selectedCategory = null;

    private void AddNewCategory()
    {
        if (Data.AddCategory(newCategory.Name))
        {
            newCategory.Name = string.Empty;
        }
    }

    private void DeleteCategory()
    {
        if (selectedCategory == null) return;
        if (Data.DeleteCategory(selectedCategory.Id.Value))
        {
            selectedCategory = null;
        }
    }

    private void UpdateCategory()
    {
        if (selectedCategory == null) return;
        if(Data.UpdateCategoryName(selectedCategory.Id.Value, selectedCategory.Name))
        {
            selectedCategory = null;
        }
    }

    private void CancelEdit()
    {
        selectedCategory = null;
    }

    private void EditCategory(ExpensesCategory category)
    {
        selectedCategory = new ExpensesCategoryEdit
        {
            Id = category.Id,
            Name = category.Name
        };
    }

    private IEnumerable<(ExpensesCategory category, bool canBeDeleted)> AllCategories =>
        Data.Categories
        .OrderBy(c => c.Sort)
        .Select(c => (c, Data.Expenses.Any(i => i.CategoryId == c.Id)))
        .ToList();

}
