@page "/expensesfile"

@using ExpensesBook.Model

@inject ExpensesData ExpensesData
@inject IJSRuntime JSRuntime

<h4>Сохранить данные в файл</h4>

<button @onclick="SaveToFile" class="btn btn-lg btn-success"><span class="oi oi-cloud-download" aria-hidden="true"></span> Сохранить</button>
<hr />

<h4>Загрузить данные из файла</h4><h6 class="text-danger">(текущие несохраненные данные будут перезаписаны)</h6>
<div>
    <label for="sFile" class="btn btn-lg btn-warning"><span class="oi oi-cloud-upload" aria-hidden="true"></span> Загрузить</label>
    <input type="file" id="sFile" style="visibility:hidden;" onchange="uploadFileJS(this)" />
</div>
<input type="hidden" id="tempField" @onchange="@(e => ParseJson(e))" />
<p style="color: green; margin-top:5px;">@message</p>
<hr />

@code {

    private string message = string.Empty;

    private async Task SaveToFile()
    {
        var str = ExpensesData.SerializeToJson();
        await JSRuntime.InvokeAsync<object>("fileSaveAs", "ExpensesData.json", str);
    }

    private void ParseJson(ChangeEventArgs e)
    {
        var text = e.Value.ToString();
        ExpensesData.DeserializeAndUpdateFromJson(text);

        message = "Файл загружен";
    }
}
